#header-icons {
    text-align: right;
  }
  
  .header-icon-wrapper {
    margin: 0 1rem;
  }
 
.header-icon-wrapper > img {
    width: 1.563rem;
    height: 1.563rem;
  }

  .hylia-font {
    font-family: "Hylia Serif", sans-serif;
  }

.nav-header {
    padding: 1rem;
    border-bottom: 1px solid rgb(224, 209, 173);
    height: 3.875rem;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  #app-header {
    margin: 0;
    font-size: 1.25rem;
    transition: transform 0.5s ease;
  }
  
  #app-header:hover {
    transform: scale(1.5);
  }
  
  #header-icons {
    text-align: right;
  }
  
  .header-icon-wrapper {
    margin: 0 1rem;
  }
  
  .header-icon-wrapper > img {
    width: 1.563rem;
    height: 1.563rem;
  }
  
  #nav-sort {
    font-size: 1.5rem;
    transition: transform 0.5s ease;
  }
  
  #nav-sort:hover {
    transform: scale(1.5);
    color: rgb(224, 209, 173);
  }
  
  #nav-search {
    transition: transform 0.5s ease;
  }

  #nav-contact {
    transition: transform 0.5s ease;
  }

  #nav-contact:hover {
    transform: scale(1.5);
  }

  #nav-trend:hover {
    transform: scale(1.5);
  }
  
  #nav-search:hover {
    transform: scale(1.5);
  }
  
  #nav-heart {
    transition: transform 0.5s ease;
  }
  
  #nav-heart:hover {
    transform: scale(1.5);
  }
  
  /* Navigation Icon Styling */
  
  .nav-icon {
    margin: 0.5rem;
    transition: transform 0.5s ease;
  }
  
  .nav-icon:hover {
    transform: scale(1.2);
  }
  
  .nav-icon-selected {
    transform: scale(1.2);
    box-shadow: -1px 1px 16px 8px rgba(26, 112, 185, 0.85);
  }
  
  #navigation-icons {
    padding-top: 1rem;
    height: 5.125rem;
    position: fixed;
    width: 100%;
    top: 3.9rem;
  }
  
  .nav-icon-wrapper > img {
    width: 2.938rem;
    height: 2.25rem;
  }
  
  /* Entry Styling */
  
  #compendium-entries {
    margin-top: 9.063rem;
  }
  
  #rendered-entries {
    margin: 1rem;
  }
  
  .entry-wrapper {
    margin: 0.2rem;
  }
  
  .entry-container {
    transition: all 300ms ease;
  }
  
  .entry-container:hover {
    background-color: rgba(18, 2, 4, 0.7);
    box-shadow: inset 0 0 0 0.5px rgb(224, 209, 173);
  }
  
  .entry-toggle {
    display: none;
  }

  /* Layout */

  .in-line {
    display: inline;
  }

  .col-fluid {
    flex-basis: auto;
  }

  .background-texture {
    background-image: url("src/assets/images/texture.jpeg");
  }

  .row {
    display: flex;
  }

  .space-between {
    justify-content: space-between;
  }

  .center {
    justify-content: center;
    align-items: center;
  }

  .text-gold {
    color: rgb(224, 209, 173);
  }

  .background-dark {
    background-color: rgb(26, 20, 20);
  }


#app-header
{
  cursor : pointer;
}