.bg-image{
    background-image: url(/src/assets/images/texture.jpeg);
  }

  .b-t{
    border-bottom: 0.2rem solid;
    margin-bottom: 1rem !important;
  }

  .b-b{
    border-top: 0.2rem solid;
    margin-top: 1rem !important;
  }

  .link{
    font-size: 30px;
  }

  .link:focus{
    color: #f50505;
  }