.nav-icon {
  transition: transform 0.5s ease;
}


.nav-icon:hover {
  transform: scale(1.2);
}

.nav-icon-selected {
  transform: scale(1.2);
  box-shadow: -1px 1px 16px 8px rgba(26, 112, 185, 0.85);
}


#navigation-icons {
  padding-top: 2%;
  height: 5.125rem;
  position: fixed;
  max-width: 20%;
  top: 13%;
  left: 40%;
}

.nav-icon-wrapper>img {
  margin: 0;
  display: block;
}

.nav-icon-wrapper {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}