:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 --main-color: #302726
}
a:hover {
  color: #535bf2;
}

.dp-flex{
  display: flex;
}

.f-direction{
  flex-direction: column;
}

.al-i{
  align-items: center;
}

.j-content{
  justify-content: space-between;
}

.j-fl-end{
  justify-content: flex-end;
}

.txt-align{
  text-align: center;
}


#col-img{
  max-height: none; 
}

/*ANCHOR SIZE*/
.p-05{
  padding: 0.5rem;
}

.p-b-5{
  padding-bottom: 3rem;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.img-radius{
  border-radius: 15%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  button  {
    background-color: transparent;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utilise toute la hauteur de la fenêtre */
  text-align: center;
  margin-left: 150%;
}

.form-container {
  width: 400px; /* Largeur du formulaire */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
/* AllArmeApi.css */
/* AllArmeApi.css */

.monster-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Ajoute un espace en bas du conteneur */
}

.monster-container article {
  margin-bottom: 20px; /* Ajoute un espace en bas de chaque article */
  flex-basis: calc(50% - 40px); /* Définit la largeur de chaque article à 50% moins les marges */
}

.monster-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px; /* Ajoute un espace en bas du titre */
}

.monster-container img {
  width: 100%; /* La largeur de l'image prend toute la largeur de l'article */
  height: auto;
}
.monster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px; /* Ajoute un espace en bas du conteneur */
}

.monster-container article {
  margin-bottom: 20px; /* Ajoute un espace en bas de chaque article */
}

.monster-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px; /* Ajoute un espace en bas du titre */
}

.monster-container img {
  width: 200px;
  height: auto;
}
